:root {
  --primary-color: #339af0;
  --light-color: #e7f5ff;
  --dark-color: #228be6;
  --dark-color-2: #1864ab;
  --text-color: #333;
  --white-color: #fff;
  --blue-gradient: linear-gradient(
    135deg,
    #000000 0%,
    #022277 50%,
    #0048ff 100%
  );

  --blue-gradient-2: linear-gradient(135deg, #000000 0%, #022277 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 10px = 1rem */
  color: var(--text-color);
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--primary-color);
}

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
