:root {
  --primary-color: #339af0;
  --light-color: #e7f5ff;
  --dark-color: #228be6;
  --dark-color-2: #1864ab;
  --text-color: #333;
  --white-color: #fff;
  --blue-gradient: linear-gradient(
    135deg,
    #000000 0%,
    #022277 50%,
    #0048ff 100%
  );

  --blue-gradient-2: linear-gradient(135deg, #000000 0%, #022277 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 10px = 1rem */
  color: var(--text-color);
  background-color: var(--light-color);
}

section {
  margin-bottom: 9.6rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--primary-color);
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.white-container {
  background-color: var(--white-color);
  overflow: hidden;
  border-radius: 20px;
}
