/* Header Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  background-color: var(--light-color);
}

.logo {
  font-size: 4.4rem;
  font-weight: bold;
  background-image: var(--blue-gradient);
  color: transparent;
  background-clip: text;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 2.4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: var(--dark-color-2);
}

.nav-link.cta-link:link,
.nav-link.cta-link:visited {
  padding: 1.2rem 4rem;
  border-radius: 15px;
  color: var(--white-color);
  background: var(--blue-gradient);
}

.nav-link.cta-link:hover,
.nav-link.cta-link:active {
  background: var(--blue-gradient-2);
}

/* Hero Container */
.hero {
  max-width: 100%;
  position: relative;
}

.hero-img {
  width: 100%;
}

.hero-title {
  position: absolute;
  top: 4rem;
  left: 8rem;
}

.hero-btn {
  position: absolute;
  bottom: 6.4rem;
  right: 8rem;
}

.btn-learn:link,
.btn-learn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  margin-right: 1.2rem;
  border-radius: 15px;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 2.4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-learn:hover,
.btn-learn:active {
  background-color: var(--dark-color);
}

.btn-cta:link,
.btn-cta:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 15px;
  color: var(--white-color);
  background: var(--blue-gradient);
  font-weight: 500;
  font-size: 2.4rem;
  cursor: pointer;
}

.btn-cta:hover,
.btn-cta:active {
  background: var(--blue-gradient-2);
}

/* About us Container */
.about-description {
  font-weight: 500;
  font-size: 3.6rem;
  color: var(--dark-color-2);
}

/* About it works Container */

.grid--how {
  grid-template-columns: 1fr 1fr;
}

.step-img {
  width: 100%;
}

.step-text-box {
  align-self: center;
  margin-right: 4.8rem;
}

.step-title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.step-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}
